{% extends  'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}This is header{% endblock %}
{% block leftheader %}
    <ul>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Knowledge</a></li>
        <li><a href="">Ontology</a></li>
        <li><a href="">Users</a></li>
    </ul>

{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.first_name }}!
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'join' %}">join</a>
    {% endif %}
{% endblock %}